.unit-image-container {
    height: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.unit-image-container img {
    width: 100%; 
}

.unit-name {
    height: 75px;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.unit-name h1 {
    /* For vertical alignment */
    line-height: 75px;
    margin: 0 30px;
}

.resource-list {
    margin: 10px 60px;
}

.resource {
    height: 150px;
    width: 1440px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #808080;
    display: table-cell;
    vertical-align: middle;
    background-color: #f1f1f1;
    margin-bottom: 30px;
}

.resource-number {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 900;
    font-size: 3em;
}

.resource-type {
    float: left;
    margin-left: 20px;
    width: 82px;
    height: 82px;
}

.resource-name {
    float: left;
    margin-left: 30px;
    margin-top: 25px; 
    font-size: 1.75em;
}

/* Typography */
body {
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-weight: 300;
    font-size: 1.75em;
}

h2 {
    /* Space between the subtitles. */
    margin-top: 30px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}
